*.srm
*.bst
*.s[mf]c
build/*
!build/.gitkeep
build/HACK/*
!build/HACK/.gitkeep
*.sw[op]
tools/*.smv
tools/*.asm
tools/*.log
tools/*.exe
tools/asar
tools/asar.exe
tools/dll/*
.vscode/launch.json
.vscode/tasks.json
/names/custom_names.txt
